@media screen and (max-width: 917px) {
    
    /*********HEADER*********/
    header>.container1 {
        flex-direction: row;
        justify-content: space-between;

        width: 76%;
    }

    header .nav {
        display: none;
    }

    header .menu-grill {
        display: inline-block;

        border: 0;
        background: transparent;

        color: white;
        font-size: 21px;
        text-align: right;
    }

    header img:only-child {
        width: 50%;
    }

    /********MAIN*********/

    .section-a {
        flex-direction: column;
    }

    .section-a div:first-child {
        width:100%;
    }

    .section-a img {
        align-self: flex-start;
        margin-left: 30px;
    }

    .section-a button {
        align-self: flex-start;
    }

    .section-a h1,
    .section-b h1,
    .section-c h1,
    .section-d h1,
    .section-e h1 {
        font-size: 18px;
    }

    .central-paragraph {
        flex-direction: column;
        width: 80%;
    }

    .central-paragraph-sx {
        width: 100%;
    }

    .central-paragraph-sx h1 {
        font-size: 60px;
        text-align: left;
    }

    .central-paragraph-sx p {
        font-size: 13px;
    }

    .central-paragraph-sx h1, 
    .central-paragraph-sx p {
        padding: 0;
    }

    .central-paragraph-dx {
        margin-top: 20px;
        width: 100%;
    }

    .central-paragraph-dx img {
        width: 70%;
        align-self: center;
    }

    .low-paragraph {
        width: 80%;
    }

    .paragraph-up {
        width: 80%;
    }

    .paragraph-center div:last-child > * {
        margin: 0;
    }

    .last-paragraph > section {
        width: 45%;
    }

    .ultimate-paragraph {
        margin-top: 20px;
    }

    .ultimate-paragraph-sx {
        width: 45%;
    }

    .ultimate-paragraph-dx {
        align-self: flex-start;
        width: 40%;
    }

    .ultimate-paragraph-dx img {
        width: 80%;
    }
    
    .ultimate-paragraph-dx h1 {
        font-size: 20px;
    }
    
    .ultimate-paragraph-dx p {
        padding: 10px 5px;
        font-size: 13px;
    }

    .footer-main-1 {
        width: 100%;
    }
    
    footer > p:first-child {
        width: 50%;
    }
}

@media screen and (max-width: 470px) {

    header img:only-child {
        width: 60%;
    }

    .paragraph {
        flex-direction: column;
        align-items: center;
    }

    .paragraph > section {
        width: 100%;
    }

    .section-a img {
        align-self: center;
        margin-left: 0;

        width: 50%;
    }

    .section-b p {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .central-paragraph-sx h1 {
        font-size: 30px;
        text-align: left;

        margin-bottom: 30px;
    }

    .paragraph-up h1 {
        font-size: 25px;
    }

    .paragraph-center {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 20px 0;
    }

    .paragraph-center img {
        width: 30%;
    }

    .paragraph-center div:last-child p,
    .paragraph-center div:last-child h3{
        padding: 20px 0;
    }

    .last-paragraph-h1 {
        display: flex;
        justify-content: center;
    }

    .last-paragraph-h1 > h1 {
        font-size: 25px;
        text-align: center;

        width: 70%;
    }

    .last-paragraph > section {
        width: 90%;
    }

    .ultimate-paragraph {
        flex-direction: column;
        align-items: center;
    }

    .ultimate-paragraph-sx {
        width: 90%;
    }

    .ultimate-paragraph-dx {
        width: 90%;
    }

    .footer-main-1 h4 {
        padding-top: 40px;
    }

    .footer-main-1 h2 {
        font-size: 25px;
        width: 70%;
    }

    .footer-main-1 h1 {
        font-size: 60px;
    }

    .footer-main-1 p {
        width: 70%;
    }

    .footer-main-1 button {
        padding: 15px 15%;
    }

    footer > p:first-child {
        width: 70%;
    }
}