* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container1 {
    margin: 0 auto;
    width: 80%;
}

.container2 {
    background-color: #9692e6;
    
}
/* HEADER */
header {
    background-color: #0084fd;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

header .nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 15px;
}

header ul {
    list-style: none;
    color: white;    
}

header ul li {
    margin: 3%;
    width: 100%;
}

header button {
    background-color: white;
    border: 0;
    padding: 7px 10px;
    border-radius: 20px;

    font-size: 15px;
}

header button a {
    color: black;
    text-decoration: none;
}
/* / HEADER */

/* MAIN */

/**********PARAGRAPH***********/
.paragraph {
    background-color: white;

    flex-direction: row;
    flex-wrap: wrap;
}

.paragraph1 {
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.paragraph1 h1,
.paragraph1 p,
.paragraph1 button,
.paragraph1 img {
    margin: 10px 0 10px 0;
    text-align: center;
}

.paragraph1,
.paragraph2 {
    border-radius: 25px;

    line-height: 30px;
    margin: 30px 10px;
}

.paragraph1 {
    background-color: #b9dbfe;
    width: 62%;
}

.paragraph2 {
    background-color: #caf0db;
}

.paragraph3 {
    background-color: #fed2d1;
}

.paragraph4 {
    background-color: #ffe7c3;
}

.paragraph5 {
    background-color: #d5d4f4;
}

.section-a {
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
}

.section-b {
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;


}

/* section-a */
.section-a div:first-child {
    flex-direction: column;
    margin-right: 30px;
}

.section-a > div {
    padding: 0 20px;
}

.section-a div:first-child h1,
.section-a div:first-child p{
    text-align: left;
}

.section-a h1 {
    color: #0084fd;
    margin-top: 30px;
}
.section-a p {
    color: #4a7296;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px
}
.section-a button {
    background-color: #0084fb;
    color: white;
    border-radius: 30px;

    padding: 5px 30px;
    font-size: 20px;
    font-weight: bolder;

    border: none;
    align-self: center;
}
.section-a img{
    margin-bottom: auto;
    margin-top: 50px;
}

/* section-b */
.section-b > * {
    padding: 20px 0;
    text-align: center;
}
.section-b span,
.section-b h1 {
    color: #67c088;
    align-self: center;
}
.section-b span {
    font-size: 100px;
    padding: 20px 0 0 0;
}
.section-b p {
    color: #639477;
    font-size: 15px;
    
    line-height: 25px;
    font-weight: 700;

    padding-top: 0;
}

/* section-c */
.section-c h1,
.section-c span {
    color: #fe8a8a;
}

/* section-d */
.section-d h1,
.section-d span {
    color: #ffc066;
}
/* section-e */
.section-e h1,
.section-e span {
    color: #9692e6;
}

/*******CENTRAL-PARAGRAPH******/
.central-paragraph {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;
    margin: 0 auto;
}

.central-paragraph-sx img {
    margin: 100px 0 80px 0;
}

.central-paragraph-sx h1,
.central-paragraph-sx p {
    padding: 0 25px;
}

.central-paragraph-dx img {
    margin-top: 40px;
}

.central-paragraph-sx h1 {
    font-size: 30px;
    color: white;

    margin: 10px 0 20px 0;
}
.central-paragraph-sx p {
    color: white;
    font-size: 12px;
    
    line-height: 25px;
    font-weight: 700;

    padding-top: 0;
}

.central-paragraph-dx {
    flex-direction: column;
    justify-content: flex-start;

    background-color: white;
    border-radius: 40px;

    margin-top: 30%;
    margin-bottom: 3%;
    color: #615e60;
}

.central-paragraph-dx > * {
    margin: 10px 20px;
    text-align: center;
}

.central-paragraph-dx p:last-child {
    font-size: 40px;
    color: #c3c0f2;

    margin-bottom: 40px;
}

/*******LOW-PARAGRAPH******/
.low-paragraph {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    text-align: center;
}

.paragraph-up {
    flex-direction: column;
    justify-content: center;

    margin-bottom: 20px;
}

.paragraph-up >* {
    margin-top: 20px;
}

.paragraph-up h1 {
    font-size: 30px;
    color: #9692e6;
}

.paragraph-up h4 {
    font-size: 17px;
}

.paragraph-center {
    ;
    
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border-radius: 20px;

    margin: 15px 0;
}

.background-color-1 {
    background-color: #ffbfbf;
}

.background-color-2 {
    background-color: #feddaa;
}

.background-color-3 {
    background-color: #b2e9ca;
}


.paragraph-center img {
    background-color: white;
    border-radius: 100%;

    margin: 20px 0;
}

.paragraph-center div:last-child {
    text-align: left;

    flex-direction: column;
    justify-content: center;
}

.paragraph-center div:last-child > * {
    margin: 0 0 20px 0;
}

.paragraph-center div:last-child p {
    font-size: 17px;
    color: #8b5d57;
}

/*******LAST-PARAGRAPH******/

.last-paragraph-h1 {
    color: white;
    font-size: 20px;

    text-align: center;
    padding: 40px 0;
}

.last-paragraph {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.section-1 {
    flex-direction: column;
    justify-content: center;

    background-color: #f4f2fd;
    border-radius: 25px;
}

.section-1 > * {
    margin-top: 20px;
    padding: 0 20px;
}

.section-1 h1 {
    color: #9692e6;
    font-size: 70px;
    margin-top: 40px;
}

.section-1 h3 {
    color: #9692e6;
    font-size: 20px;
}

.section-1 button {
    background-color: #9692e6;
    color: white;
    border: 0;

    font-size: 18px;

    padding: 10px 35px;
    border-radius: 25px;

    margin: 20px 0 40px 20px;
    align-self: flex-start;

}
/* / MAIN */